services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes: 
      - "./:/usr/app/"  
      
  db:
    container_name: 'database'
    image: mysql
    restart: always
    ports:
    - "3308:3306"
    environment:
    - MYSQL_ROOT_PASSWORD=root    